examples/Twitter Home Timeline.json
[{"id":"1e86e0a7.865ecf","type":"function","z":"62e097bd.06b768","name":"Prepare Request Token URL","func":"msg.payload = {\n  consumerSecret: env.get(\"TWITTER_API_SECRET_KEY\"),\n  tokenSecret: env.get(\"TWITTER_ACCESS_TOKEN_SECRET\"),\n  url: env.get(\"TWITTER_REQUEST_TOKEN_URL\"),\n  httpMethod: env.get(\"TWITTER_REQUEST_TOKEN_METHOD\"),\n  parameters: {\n    oauth_callback: env.get(\"TWITTER_OAUTH_CALLBACK\"),\n    oauth_consumer_key: env.get(\"TWITTER_API_KEY\"),\n    oauth_token: env.get(\"TWITTER_ACCESS_TOKEN\"),\n    oauth_signature_method: 'HMAC-SHA1',\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["82daa1c6.579ac"]]},{"id":"82daa1c6.579ac","type":"oauth1a","z":"62e097bd.06b768","name":"","x":460,"y":400,"wires":[["27e9de48.801992"]]},{"id":"2b741cd3.29d784","type":"http in","z":"62e097bd.06b768","name":"","url":"/oauth/","method":"get","upload":false,"swaggerDoc":"","x":100,"y":480,"wires":[["a34c4709.e78048"]]},{"id":"85523198.91406","type":"http response","z":"62e097bd.06b768","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1230,"y":1040,"wires":[]},{"id":"e2972276.0773d","type":"function","z":"62e097bd.06b768","name":"Prepare redirect to Twitter auth page","func":"msg.statusCode = 302;\nmsg.headers = {\n    'Location': env.get('TWITTER_OAUTH_AUTHENTICATE_URL') + '?oauth_token=' + msg.payload.data.oauth_token,\n};\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":520,"wires":[["18bb8b5.a434475"]]},{"id":"ac7238bc.a74478","type":"http in","z":"62e097bd.06b768","name":"","url":"/twitter/timeline/","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["1e86e0a7.865ecf"]]},{"id":"18bb8b5.a434475","type":"http response","z":"62e097bd.06b768","name":"","statusCode":"","headers":{},"x":1230,"y":520,"wires":[]},{"id":"878f309e.a76d4","type":"function","z":"62e097bd.06b768","name":"Prepare Access Token URL","func":"msg.payload = {\n  consumerSecret: env.get(\"TWITTER_API_SECRET_KEY\"),\n  tokenSecret: msg.req.query.oauth_token_secret,\n  url: 'https://api.twitter.com/oauth/access_token',\n  httpMethod: 'POST',\n  parameters: {\n    oauth_consumer_key: env.get(\"TWITTER_API_KEY\"),\n    oauth_token: msg.req.query.oauth_token,\n    oauth_signature_method: 'HMAC-SHA1',\n    oauth_verifier: msg.req.query.oauth_verifier,\n  },\n  body: {\n    oauth_verifier: msg.req.query.oauth_verifier,\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":660,"wires":[["324afabf.dc1ae6"]]},{"id":"324afabf.dc1ae6","type":"oauth1a","z":"62e097bd.06b768","name":"","x":620,"y":740,"wires":[["c3e43445.ecc198"]]},{"id":"a34c4709.e78048","type":"change","z":"62e097bd.06b768","name":"","rules":[{"t":"set","p":"req.query.oauth_token_secret","pt":"msg","to":"oauth_token_secrets[req.query.oauth_token]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":580,"wires":[["878f309e.a76d4"]]},{"id":"27e9de48.801992","type":"function","z":"62e097bd.06b768","name":"Store Generated Secret","func":"secrets = flow.get('oauth_token_secrets')\nif (!secrets) {\n    secrets = {};\n}\nsecrets[msg.payload.data.oauth_token] = msg.payload.data.oauth_token_secret;\nflow.set('oauth_token_secrets', secrets);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["e2972276.0773d"]]},{"id":"c3e43445.ecc198","type":"function","z":"62e097bd.06b768","name":"Prepare Twitter Timeline URL","func":"msg.payload = {\n  consumerSecret: env.get(\"TWITTER_API_SECRET_KEY\"),\n  tokenSecret: msg.payload.data.oauth_token_secret,\n  url: 'https://api.twitter.com/1.1/statuses/home_timeline.json?include_entities=true',\n  httpMethod: 'GET',\n  parameters: {\n    oauth_consumer_key: env.get(\"TWITTER_API_KEY\"),\n    oauth_token: msg.payload.data.oauth_token,\n    oauth_signature_method: 'HMAC-SHA1',\n    include_entities: 'true',\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":820,"wires":[["ddb236f3.f58a48"]]},{"id":"ddb236f3.f58a48","type":"oauth1a","z":"62e097bd.06b768","name":"","x":900,"y":920,"wires":[["715628bb.88e228"]]},{"id":"715628bb.88e228","type":"function","z":"62e097bd.06b768","name":"Convert Object to JSON","func":"msg.payload = JSON.stringify(msg.payload.data, null, 1);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1000,"wires":[["85523198.91406"]]}]